<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="styles/styles.css" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<div class="row w-100 p-4">
    <div class="col-6">
        <h1 class="text-center">Too Many Fish</h1>
        <p>Are you tired of the constant anxiety and vulnerability to predators that comes from living on your own? Have you tried all those other fish sites and found that they just don't have enough fish for you? Have you seen sharks in your area, and just don't feel safe without thousands of other fish swimming around you in a massive swirling sphere of aquatic life?</p>
        <p><strong>Too many fish</strong> has helped thousands of fish just like you find their ideal school. We use our advanced compatability algorithms to match you with thousands and thousands of like-minded fish so you never have to face a shark on your own again! Just take our one question survey and you will be absorbed by a writhing miasma of scaly allies who will help conceal you from all the horrors of the deep that want so badly to feast on your corpse!</p>

        <h3 class="text-center">Read the latest bubbles!</h3>
        <div class="text-center" id="quoteBox">
            <p class="quote">"Oh god, its so crowded here." - Manny Mackerel</p>
            <p class="quote">"I can't even see where i'm going, there are too many fish in the way!" - Terry Tuna</p>
            <p class="quote">"Margret? MARGRET? Where are you?" - Harry Herring</p>
            <p class="quote">"Hey watch where you are swimming!" - Barbara Baracuda</p>
        </div>

        <button>Just One More Fish!</button>
    </div>
    <div class="col-6">
        <img class="img-fluid rounded" src="images/splash.jpg" alt="A massive school of Blue Jack Mackerel in the ocean">
    </div>
</div>
</body>
</html>