<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="styles/styles.css" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<div>
    <h1>Too Many Fish</h1>
    <p>Share a new experience someone who shares my sense of humor tacos jazz cafes. I don't take myself too seriously making lasagna from scratch fixing my scooter recently moved back road trips, coffee self-deprecating humor Arrested Development Kurosawa Murakami. Arrested Development bikes working on my body and my mind Arrested Development local sports teams mountain biking.</p>
    <h2>Read the latest bubbles!</h2>
    <hr>
    <p class="quote">"Oh god, its so crowded here." - Manny Mackerel</p>
    <p class="quote">"I can't even see where i'm going, there are too many fish in the way!" - Manny Mackerel</p>
    <hr>
    <button>Just One More Fish!</button>
</div>
<div>
    <img src="images/splash.jpg" alt="A massive school of Blue Jack Mackerel in the ocean">
</div>
</body>
</html>