<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="styles/styles.css" rel="stylesheet">
    <title>Summary</title>
</head>
<body>
<nav class="navbar bg-light border-bottom">
    <div class="container">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/328/assn1-dating-site">My Dating Website</a>
        </div>
    </div>
</nav>
<div class="rounded container page-container">
    <div class="row">
        <div class="col-6">
            <table class="table table-bordered">
                <tr>
                    <td>Name: </td>
                </tr>
                <tr>
                    <td>Gender: </td>
                </tr>
                <tr>
                    <td>Age: </td>
                </tr>
                <tr>
                    <td>Phone: </td>
                </tr>
                <tr>
                    <td>Email: </td>
                </tr>
                <tr>
                    <td>State: </td>
                </tr>
                <tr>
                    <td>Seeking: </td>
                </tr>
                <tr>
                    <td>Interests: </td>
                </tr>
            </table>
        </div>
        <div class="col">
            <img class="img-fluid rounded" src="images/egg.jpg" alt="The shape of an egg, the default profile picture">
            <h5 class="font-weight-normal">Biography</h5>
            <p></p>
        </div>
    </div>
    <div class="w-100 d-flex">
        <button class="btn btn-primary btn-round mx-auto" type="submit">Contact Me!</button>
    </div>
</div>
</body>
</html>